@import "../../assets/mixins";

@include placeholder {
  color: #fff;
  font-size: 0.94em;
}

.typeahead-search {
  display: flex;
  justify-content: left;
  background-color: #764876;
  padding: 20px 25px;

  &__input {
    border: 0;
    width: 100%;
    margin-left: 10px;
    border-bottom: 1px solid #aaa;
    background: none;
    outline: 0;
    color: #fff;
    font-size: 0.94em;
  }
}
