@import "../../../assets/mixins";

.results-item {
  padding: 10px 25px;
  display: flex;
  flex-direction: column;

  &:nth-child(even) {
    background-color: #ddd;
  }

  &:nth-child(odd) {
    background-color: rgb(212, 212, 212);
  }

  &__main-row {
    font-size: 24px;
    margin-bottom: 10px;
  }

  &__info-row {
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    @include sm {
      flex-direction: column;
    }
  }

  &__phone,
  &__policy-number {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
